
.about-statistics{
    background-color: whitesmoke;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.about-statistics .col{
    border: 10px inset #fb4a36;
    border-radius: 4rem;
    margin: 0.5rem;
    padding: 1rem;
}

.about-statistics h1{
    line-height: 70%;
}
