
.checkout-start{
    margin-top: 2rem;
}

.checkout-start-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(253, 191, 191);
    margin: 1rem;
    border-radius: 1rem;
}

.checkout-start-item a{
    text-decoration: none;
    color: black;
}