.accordion {
    margin-bottom: 1rem;
}

.accordion-summary {
    background-color: #131313 !important;
    color: #fff !important;
    padding: 8px 16px;
    cursor: pointer;
}

.accordion-summary:hover {
    background-color: #d0cec8 !important;
    color: #131313 !important;
}

.accordion-details {
    background-color: #fff;
    padding: 16px;
}