.carousel {
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }
}

.slide img {
    height: auto;
    max-height: 550px;
    object-fit: fill;
}

.carousel .thumbs-wrapper {
    text-align: center;

}